/* Gaya Umum */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #001f3f; /* Warna biru tua */
  color: #ffffff;
  text-align: center;
}

/* Kontainer Utama */
.container {
  text-align: center;
  margin-top: 50px;
  animation: fadeIn 2s ease-in-out;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.1);
}

.name {
  font-size: 2em;
  margin: 10px 0;
}

.description {
  font-size: 1.2em;
  color: #cccccc;
}

.socials {
  margin-top: 20px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-link i {
  margin-right: 8px;
}

.social-link:hover {
  transform: scale(1.1);
  color: #ffcc00;
}

/* GitHub Stats */
.github-stats {
  margin-top: 30px;
}

.github-stats img {
  width: 80%;
  max-width: 400px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: transform 0.3s ease-in-out;
}

.github-stats img:hover {
  transform: scale(1.05);
}


/* Footer */
.footer {
  background-color: #001f3f; /* Samakan warna dengan background halaman */
  color: rgba(255, 255, 255, 0.8); /* Menurunkan opacity teks */
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo {
  width: 20px;
  height: 20px;
  vertical-align: middle; /* Menyelaraskan logo dengan teks */
  margin-left: 5px; /* Jarak kecil antara teks dan logo */
}

.container {
  margin-bottom: 50px; /* Beri ruang untuk footer */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3f; /* Warna biru tua */
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.2em;
}

.navbar-left,
.navbar-right {
  font-size: 1.5em;
}

.navbar-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}